.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    will-change: transform;
    z-index: 2;
    pointer-events: none;
}

.header h1 {
    text-transform: none;
    font-family: var(--font-lobster), "Lobster", sans-serif;
    font-size: 10.5vw;
    letter-spacing: 2;
    line-height: 1;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    user-select: none;
    color: #ffffff;
}
